<table class="container">
    <tbody>
        <tr>
            <th>{{foundDirectiveCtrl.items.length}} Dishes</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="item in foundDirectiveCtrl.items">
            <td> {{$index+1}}</td>
            <td> {{item.description}} </td>
            <td> <button class="btn btn-warning" ng-click="foundDirectiveCtrl.onRemove({index: $index});">Don't want this one!</button> </td>
        </tr>
    </tbody>
</table>
