<!doctype html>
<html ng-app="MyApp">

<head>
    <title>From Scratch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-controller="MyController">
    <div>
        <input type="text" ng-center ng-model="inputText" ng-blur="uppercaseText()"/>
        <button ng-click="displayTextLength()">Click to show text length</button>
    </div>
    <div>

        <p> Text is [{{textLength}}] characters long</p>
    </div>

</body>
</html>